* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* connects with element in body, easier to change box sizing in plugins and components */
}

html {
    font-size: 62.5%;
    /* using 10px makes calculations for rem easier, start there, convert all px to rem, then change this to the %-age that would equal 16px, which is 62.5%. This element defines what 1rem is. */

    @include respond(phone) {
        font-size: 50%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop ) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    /* considered good practice; see above note */
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}